.containerShoe{
    padding: 2rem 0;
}

.containerComments, .firstSection, .containerDetails {
    width: 70%;
    margin: auto;
}
.firstSection{
    display: flex;
    align-items: center;
    padding: 10px 10px 10rem 10px
}

#selectionQuantity{
    width: 80%;
    height: 50px;
    border: 1px solid black;
    padding-left: 10px;
    font-weight: 700;
}

.shoeTitle {
    border-bottom: 1px solid rgb(183, 182, 180);
    padding-bottom: 20px;
}
.ShoeContent{
    display: flex;
    width: 100%;
    height: 100%;
}

.shoeImgContent {
    width: 50%;
}

.shoeImg img {
    width: 100%;
    height: 100%;
}
.shoeBody {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1rem;
    padding:  10px 0 12px 0;
}

.status, .shoeDescription, .amounrPrince, .containerSizeQuantity {
    margin-top: 40px;
}
.sizeQuantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.shoeSizeContent {
    border: 2px solid #EB455F;
    padding: 10px;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.btnQuantity {
    background-color: #EB455F;
    color: #fff;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 1px;
    font-weight: 500;
    cursor: pointer;
    
}
.shoeSizeitem {
    font-weight: 600;
}
.shoeQuantityContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}
.shoeQuantityContent span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnQuantity, .shoeQuantityContent span {
    width: 30px;
    height: 30px;
    font-size: 20px;

}
.amounrPrince {
    font-size: 20px;
    font-weight: 500;
}

.containerBtnAddToCard {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnAddToCard {
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    background-color: #EB455F;
    height: 50px;
    width: 100%;

}

/*  comments styling */

.commentItem {
    padding: 10px 10px;
    margin-top: 10px;
}
.commentItem span {
    background-color: #060047 ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-right: 10px;
}
.commentItem h3 {
   display: flex;
   align-items: center;

}

.containerComments {
    margin-top: 20px;
    padding-bottom: 10px;
}

.letComments {
    width: 80%;
    background-color: #FCFFE7;
    padding: 0 20px;
}
#inputComment {
    width: 100%;
    border: none;
    resize: none;
}
.submitComment {
    background-color: #060047;
    width: 100px;
    padding: 5px 10px;
    color: white;
    border: none;
}
/* Détails styling   */


.containerDetails, .containerComments {
    background-color: #f6f6f6;
    padding: 20px 15px;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    
}

.containerDetails h2, .containerComments h2{
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}
.detailsText {
    padding: 30px;
}

/*  popup styling  */


/* Overlay */
.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Assurez-vous qu'il est au-dessus de tout */
  }


  /* Popup */

  
.popup_overlay {
    
    position: absolute;
    top: 70%; /* Position verticale au milieu */
    left: 68%; /* Position horizontale au milieu */
    
    transform: translate(-50%, -50%); /* Centrer le popup */
    
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 18px;
    /* Ajustez la largeur et la hauteur si nécessaire */
    width: 30%; /* par exemple */
    max-height: 80vh; /* par exemple, limite de la hauteur de la fenêtre */
    overflow: auto;
    z-index: 9999; /* Assurez-vous que le popup est au-dessus du contenu */
}


.zeroQuantity {
    background-color: #e3e3e3;
    color: #000;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 1px;
    font-weight: 500;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;

}

.cart_ShoesSelected {
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    margin-top: 10px;
    padding: 10px 20px;
}

.cart_secondSection {
    padding: 30px 10px;
}
.quantityControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartImgItem {
    height: 180px;
    width: 180px;
}
.cartImgItem img{
    height: 100%;
    width: 100%;
}
/* 
  .popup {
   
  } */
  
  /* Icône de fermeture */
  .close-icon {
    margin-bottom: 20px;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


  
  /* Positionnement du contenu à l'intérieur du popup */
  .popup-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .popupShoeSizeContent {
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    cursor: pointer;
}

.popupShoeSizeitem {
    border: 1px solid #EB455F;
    padding: 10px;
    width: 80px;
    text-align: center;
    

}

/* popupBtnsAfterQuantyAndSize */

.popupBtnsAfterQuantyAndSize {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.btncontinueShop, .BtnFinalizeOrder {
    border-radius: 5px;
    width: 40%;
    padding: 14px 19px;
    font-size: 15px;
}
.btncontinueShop {
    border: 1px solid #EB455F;
    color: #EB455F;
}
.BtnFinalizeOrder {
    border: none;
    background-color: #EB455F;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}
